/******************************************************************
Site Name:
Author:

Stylesheet: Large Desktop Stylsheet

/****************************************************************
CONTENT
*****************************************************************/

.full-bleed-hero-headline {
font-size:48px;
line-height:48px;
font-weight:300;
color:#221f1f;

}

